*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
puphpet/puppet/
puphpet/shell/
puphpet/files/
.vagrant/
npm-debug.log.*
node_modules/
application/config/database.php
