form {
    margin-left: auto;
    margin-right: auto;

    .panel-body {
        display: inline-block;
        width: 100%;
    }

    .input {
        width: 100%;

        &.name label {
            width: 40px;
        }

        &.role label {
            width: 135px;
        }
    }
}

.testDescription {
    display: inline-block;
    margin: 10px;
}

#netIDProvider {
    border: gray 1px solid;
    display: inline-block;
    float: right;
    height: 300px;
    min-width: 163px;

    li::before {
        content: '*';
        margin-right: 5px;
    }
}

#counter {
    border-top: 3px black solid;
    width: 100%;

    .input-group-addon {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    form {
        margin-right: 210px;
    }
}

@media screen and (max-width: 650px) {
    form {
        margin-left: 0;
        margin-right: 200px;
        width: 60%;
    }
}

@media screen and (max-width: 500px) {
    form {
        width: 100%;
    }

    #netIDProvider {
        float: none;
        height: 100%;
        margin-bottom: 5px;
        margin-top: 0;
        width: 100%;

        .panel-body {
            padding-bottom: 0;
        }
    }
}
