form {
    margin: 0 auto;
    width: 25%;

    input, button {
        margin: 0 auto;
    }

    input {
        width: 150px;
    }

    button {
        width: 100px;
    }

    .testDescription {
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .role {
        label {
            display: inline-block;
            width: 100px;
        }
    }
}
