/*
    Standard HTML element styling.
 */
footer {
    border-top: 1px gray solid;
    margin-top: 10px;

    img {
        margin-right: 15px;
    }

    p {
        display: inline;
        vertical-align: bottom;
    }
}

form {
    margin: 0 auto;
    width: 300px;

    button, input {
        margin: 0 auto;
    }

    button {
        width: 100px;

        &[type='submit'] {
            display: -webkit-box;
            margin-top: 10px;
        }
    }

    input {
        width: 150px;
    }

    label {
        width: 100px;
    }
}

nav {
    background-color: #008cba;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;

    a {
        color: white;
        display: inline-block;
        height: 20px;
        margin-left: 15px;
        vertical-align: middle;
    }

    .right > a:last-child {
        margin-right: 10px;
    }
}

/*
    CLASSES
 */
.hidden {
    display: none;
}

.right {
    float: right;
}

.form_error {
    background-color: red;
    border: 2px solid black;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    white-space: nowrap;
}

/*
    IDENTIFIERS
 */
#content {
    margin: 0 auto;
}
