nav {
  background-color: #008cba;
  height: 30px;

  a {
    margin-left: 15px;
    vertical-align: middle;
  }

  .right > a:last-child {
      margin-right: 10px;
  }
}

footer {
  background-color: #008cba;
}

.hidden {
    display: none;
}

.right {
    float: right;
}

#content {
  margin: 0 auto;
  width: 1200px;
}
