.hidden {
    display: none;
}

#content {
  margin: 0 auto;
  width: 1200px;
}

nav {
  background-color: #008cba;
  height: 30px;

  a {
    margin-left: 15px;
    vertical-align: middle;
  }
}

footer {
  background-color: #008cba;
}
